html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #f4f4f4;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .15s;
        -moz-transition: all .15s;
        -ms-transition: all .15s;
            transition: all .15s;
}

a:hover {
    color: #306fff;
}

.banner {
    height: 600px;
    background: #e6e6e6 url("../img/banner_bg.jpg") 50% 100% repeat-x;
    background-size: 1920px;
}

.banner-inner {
    width: 1160px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.photo {
    position: absolute;
    bottom: 0;
    left: 150px;
    width: 450px;
    height: 555px;
    background: url("../img/photo.jpg") 50% 50% no-repeat;
    background-size: 450px;
    -webkit-mask: url("../img/photo_mask.png");
       -moz-mask: url("../img/photo_mask.png");
        -ms-mask: url("../img/photo_mask.png");
            mask: url("../img/photo_mask.png");
    -webkit-mask-size: 450px;
       -moz-mask-size: 450px;
        -ms-mask-size: 450px;
            mask-size: 450px;
}

.info {
    width: 350px;
    right: 200px;
    bottom: 160px;
    position: absolute;
}

.title {
    width: 250px;
    height: 60px;
    text-indent: -9999em;
    background: url("../img/icons.png") 0 0 no-repeat;
    background-size: 300px;
}

.desc {
    color: #333;
    line-height: 1.8;
    font-size: 16px;
}

.desc a {
    color: #333;
}

.desc a:hover {
    color: #306fff;
}

.mail-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #306fff url("../img/icons.png") -129px -75px no-repeat;
    background-size: 300px;
    position: absolute;
    right: 100px;
    bottom: -40px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
            transition: all .2s;
}

.mail-icon:hover {
    /*background-color: #437cff;*/
    box-shadow: 0 3px 12px rgba(0, 0, 0, .3);
}

.mail-icon:active {
    background-color: #306fff;
    box-shadow: none;
}

.socal-icons {
    margin-top: 30px;
}

.socal-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.socal-icons a i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    background-size: 300px;
    opacity: .5;
}

.socal-icons a:hover i {
    opacity: .8;
}

.gh-icon {
    background-position: 0 -100px;
}
.ui-icon {
    background-position: -50px -100px;
}

.ins-icon {
    background-position: -100px -100px;
}

.works h2 {
    margin-top: 110px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.works-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.works-nav a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
}

.works-nav a.cur,
.works-nav a:hover {
    color: #306fff;
}

.works-list {
    margin: 10px auto 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 1200px;
}

.works-item {
    padding: 10px;
    margin: 10px;
    width: 260px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.works-item.hide {
    display: none;
}

.works-item a {
    color: #333;
}

.works-item a:hover {
    color: #306fff;
}

.works-item p {
    margin: 10px 0;
    color: #333;
}

.img-link {
    display: block;
    width: 260px;
    height: 195px;
    background-color: #f4f4f4;
}

.img-link img {
    -webkit-transition: all .1s;
       -moz-transition: all .1s;
        -ms-transition: all .1s;
            transition: all .1s;
}

.img-link:hover img {
    opacity: .9;
}

.works-tag {
    display: inline-block;
    border-radius: 2px;
    background-color: #ff3e3e;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    font-style: normal;
    font-size: 14px;
    margin-right: 3px;
}

.works-tag-dev {
    background-color: #306fff;
}

.time {
    color: #b4b4b4;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 15px 0 30px;
    color: #999;
    margin-top: 50px;
    border-top: 1px solid #ddd;
}
