html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    margin: -10% auto 0;
}

.avatar {
    width: 110px;
    height: 110px;
    background: url(../img/avatar.jpg) 50% 50% no-repeat;
    background-size: 110px;
    border-radius: 50%;
    margin: 0 auto;
}

.info {
    width: 350px;
    text-align: center;
}

.title {
    width: 250px;
    height: 60px;
    text-indent: -9999em;
    background: url(../img/icons.png) 0 0 no-repeat;
    background-size: 250px;
    margin: 30px auto 0;
}

.socal-icons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.socal-icons a {
    width: 28px;
    height: 28px;
    margin: 0 12px;
}

.socal-icons a i {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-size: 250px;
    opacity: .8;
}

.socal-icons a:hover i {
    opacity: 1;
}

.gh-icon {
    background-position: 0 -100px;
}

.ui-icon {
    background-position: -50px -100px;
}

.ins-icon {
    background-position: -100px -100px;
}

.mail-icon {
    background-position: -150px -100px;
}